h3 {
	font-size: 300%;
	font-family: 'Henny Penny', serif;
	text-align: center;
}

h4 {
	font-family:  sans-serif;
	color: black;
	text-align: center;
	}

body {
	background: url('images/paperstars.jpg') no-repeat center center fixed;
	background-size: cover;
	padding-top: 10px;
	font-size: 18px;
	font-family: serif;
}

#header-container {
	width: 100%;
	height: 300px;
	background-image: url('images/AW-logo-black.png') no-repeat left left fixed;
}

#header {
	width: 100%;
	height: 200px;
	margin: auto;
}

.container {
	border: solid grey 0.5px;
	background: white;
	opacity: 0.7;
	filter:alpha(opacity=40); /*for IE8 and earlier*/

	padding-top: 25px;
	padding-right: 100px;
	padding-bottom: 25px;
	padding-left: 100px;
	margin-left: 500px;

	/* center div */
	/*margin: 0 auto;*/

}

#minitabs {
	margin: 0;
	padding: 0 0 20px 10px;
	border-bottom: 2px solid black;

}

#minitabs li {
	/*margin: 0; 
	padding: 0;*/
	display: inline;
	list-style-type: none;
}

#minitabs a:link, #minitabs a:visited {
	float: left;
	font-size: 10px;
	line-height: 14px;
	font-weight: bold;
	margin: 0 10px 4px 10px;
	padding-bottom: 2px;
	text-decoration: none;
	color: #9c9;
}

#minitabs a.active:link, #minitabs a.active:visited, #minitabs a:hover {
	border-bottom: 4px solid #696;
	padding-bottom: 2px;
	background: #fff;
	color: #363;
}

/* relative font-size version */

#miniflex {
	width: 55%; /*lengthens or shortens navbar bottom border*/
	float: left;
	font-size: small; /* could be specified at a higher level */
	/*margin: 0;*/
	margin-left: 150px;
	padding: 0px;
	border-bottom: 1px solid #333;
}

#miniflex li {
	float: left;
	margin: 0; 
	padding: 0;
	display: inline;
	list-style: none;
}

#miniflex a:link, #miniflex a:visited {
	float: left;
	font-size: 85%;
	line-height: 20px;
	font-weight: bold;
	margin: 0 10px 0 10px;
	text-decoration: none;
	color: white;
}

#miniflex a.active:link, #miniflex a.active:visited, #miniflex a:hover {
	border-bottom: 4px solid #333;
	padding-bottom: 2px;
	color: #333;
}

#donate {
	margin-left: 100px;
	padding-right: 0px;
}

#amanda {
	width: 45%;
	height: 45%;
	margin-right: 150px;
	border: solid 5px green;
	background: url('images/amanda-portrait.png') no-repeat center left fixed;
	background-size: cover;

}
